/libs
/cache/
/static/pma/
/web/static/uploads/
/.idea/
*.log
/server/cache
/server/libs
/ssl/
/composer.lock
/web/static/smartadmin/
/server/apps/configs/sms.php
/vendor
/server/composer.lock
/server/server.pid
/17monipdb.dat
