/libs
/cache/
/static/pma/
/web/static/uploads/
/.idea/
*.log
/web/index.html
/server/cache
/server/libs
/ssl/www.swoole.com.key
/ssl/wiki.swoole.com.crt
/ssl/www.swoole.com.crt
/ssl/wiki.swoole.com.key
/composer.lock
/web/static/smartadmin/
/server/apps/configs/sms.php
