<div class="clear"></div>
<div id='footer'>
Swoole.com版权所有 京ICP备14049466号-7
    QQ群：399424487 <a href="/person/sendmail/?to=1">给管理员写信</a> <br />
 源代码托管在Github <a href="https://github.com/swoole/swoole-src" target="_blank">https://github.com/swoole/swoole-src </a>

<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4967f2faa888a2e52742bebe7fcb5f7d' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<br />
本网站程序<a href="https://github.com/matyhtf/swoole.com" target="_blank">开放源代码</a>，页面不支持IE6/IE7，建议您使用<a href="http://firefox.com.cn/" target="_blank">Firefox</a>或者<a href="http://www.google.com/chrome/intl/en/landing_chrome.html?hl=zh" target="_blank">Chrome</a>浏览器</div>
